.additional-item {
  padding-top: 11px;
  padding-bottom: 17px;

  border-bottom: 1px solid @color-border;
  &:first-of-type {
    border-top: 1px solid @color-border;
  }
}

.additional-item__title {
  margin: 0;
  padding-bottom: 13px;

  .font-title-product(#222222);
}

.additional-item__table {
  width: 100%;
  padding-bottom: 14px;
}

.additional-item__link {
  font-size: 16px;
}
