.catalog-additional {
  padding-bottom: 35px;

  &__title {
    position: relative;

    display: inline-block;
    margin: 0;
    padding-left: 19px;

    vertical-align: middle;

.font-item();

    //Недодел
    &::after {
      .title-line(absolute; inline-block);
    }
  }
}
