
.catalog-main-item {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px 24px;

  border-bottom: 1px solid @color-border;

  &--show-all {
    flex-direction: column;
    padding-top: 25px;
  }

  &:first-of-type {
    border-top: 1px solid @color-border;
  }
}

.catalog-main-item__icon {
  margin: 0 auto 23px;

  opacity: 0.2;

  &--plus {
    display: none;
  }
}

.catalog-main-item__wrapper {
  height: 144px;
}

.catalog-main-item__detail {
  flex-grow: 1;
  padding: 21px 0 20px;
}

.catalog-main-item__title {
  width: 100px;
  margin: 0;
  padding-bottom: 13px;

  text-align: left;

  .font-title-product();

  &--show-all {
    width: auto;
    margin: 0 auto;
    padding: 0 0 7px;

    text-align: center;
  }
}

.catalog-main-item__text {
  margin: 0 auto;
  padding-bottom: 20px;

  font-size: 12px;
  font-family: @font-text;
}

.catalog-main-item__link {
  width: 100%;

  font-size: 16px;
}

@media (min-width: @tablet-width) {
  .catalog-main-item {
    flex-direction: column;
    justify-content: flex-end;
    width: 45.7%;
    min-height: 513px;
    margin-bottom: 58px;
    padding: 0 0 40px;

    background-image: linear-gradient(to top, @color-bg-secondary 0, @color-bg-secondary 431px, transparent 431px, transparent 100%);
    border: none;

    &:first-of-type {
      border: none;
    }

    &:nth-of-type(odd) {
      margin-right: auto;
    }

    &--show-all {
      min-height: 432px;
      margin-top: 82px;

      background-image: none;
      border: 1px solid @color-border;
    }
  }

  .catalog-main-item__icon {
    &--mobile {
      display: none;
    }

    &--plus {
      display: block;
      margin-bottom: 50px;
    }
  }

  .catalog-main-item__wrapper {
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .catalog-main-item__image {
    width: auto;
    max-width: 100%;

    &--small {
      height: 174px;
    }

    &--big {
      height: 208px;
    }
  }

  .catalog-main-item__detail {
    flex-grow: 0;
    padding: 32px 37px 0;
  }

  .catalog-main-item__title {
    width: 150px;
    margin: 0 auto;
    padding-bottom: 20px;

    text-align: center;

    &--show-all {
      padding-bottom: 25px;
    }
  }

  .catalog-main-item__text {
    width: 170px;
    padding-bottom: 84px;

    font-size: 16px;
    line-height: 19px;
    text-align: center;
  }

  .catalog-main-item__table {
    margin-bottom: 32px;
  }

  .catalog-main-item__link {
    width: auto;
    margin-right: 37px;
    margin-left: 38px;
  }
}

@media (min-width: @desctop-width) {
  .catalog-main-item {
    width: 245px;
    margin-bottom: 60px;

    &:not(:nth-of-type(4n)) {
      margin-right: 80px;
    }
  }

  .catalog-main-item__detail {
    padding-top: 30px;
  }
}
