
.catalog-main-item {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px 25px;

  border-bottom: 1px solid @color-border;

  &:first-of-type {
    border-top: 1px solid @color-border;
  }

  &__title {
    margin: 0 auto;
    padding: 83px 0 11px;

    text-align: center;

.font-title-product();
  }

  &__text {
    margin: 0 auto;
    padding-bottom: 22px;
  }

  &__image {
    order: -1;
  }
}
