
.contacts__address {
  display: flex;
  justify-content: space-between;
  padding: 29px 22px 25px 19px;

  background-color: @color-bg-secondary;

  &--index {
    background-color: white;
  }
}

.contacts__title {
  width: 125px;
  margin: 0;
  margin-right: 19px;

  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: @color-text-two;
  text-transform: uppercase;
}

.contacts__superscription {
  width: 135px;

  line-height: 20px;
  font-family: "Arial", sans-serif;
  font-style: normal;
}

.contacts__map {
  position: relative;

  height: 362px;

  &::before {
    top: 139px;
    left: 132px;

    width: 55px;
    height: 53px;

    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    .pseudo();
  }
}

.contacts__live-map {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  border: none;
}

@media (min-width: @tablet-width) {
  .contacts__address {
    padding: 66px 72px 59px;
  }

  .contacts__wrapper {
    padding: 0;
  }

  .contacts__title {
    width: 160px;

    font-size: 20px;
    line-height: 25px;
  }

  .contacts__superscription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 160px;

    text-align: right;
  }

  .contacts__image {
    width: auto;
    height: 100%;
  }

  .contacts__map {
    height: 396px;
    overflow: hidden;

    &::before {
      top: 135px;
      left: 323px;

      width: 122px;
      height: 128px;
    }
  }
}

@media (min-width: @desctop-width) {
  .contacts {
    position: relative;
  }

  .contacts__map {
    &::before {
      left: 1000px;
    }
  }

  .contacts__wrapper {
    .container();
  }

  .contacts__address {
    position: absolute;
    top: 95px;
    z-index: 1;

    width: 570px;
    padding-top: 63px;
    padding-right: 83px;
    padding-bottom: 55px;
    padding-left: 76px;

    background-color: white;
  }

  .contacts__title {
    padding-top: 2px;
  }

  .contacts__superscription {
    text-align: left;
  }
}
