
.contacts {
  &__address {
    display: flex;
    justify-content: space-between;
    padding: 31px 19px 25px;
    &--white {
      background-color: white;
    }
    &--gray {
      background-color: @color-bg-secondary;
    }
  }

  &__title {
    margin: 0;
    margin-right: 19px;

    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #111111;
    text-transform: uppercase;
  }

  &__superscription {
    line-height: 20px;
    font-family: "Arial", sans-serif;
    font-style: normal;
  }

  &__map {
    position: relative;
  }

  &__live-map {
    position: absolute;
    left: 0;
  }
}
