
.example {
  padding-top: 20px;

  background-color: #f2f2f2;
}

.example__title {
  margin: 0;
  padding-top: 12px;
  padding-bottom: 33px;

  font-size: 36px;
  line-height: 36px;
}

.example__text {
  margin: 0;
  padding-bottom: 27px;

  font-family: "Arial", sans-serif;
}

.example__result {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.example__item {
  position: relative;

  flex-basis: 50%;
  padding: 13px 20px 15px;

  text-align: center;

  border: 1px solid #cdcdcd;
  border-radius: 3px;
  ;
}

.example__item:not(:last-of-type) {
  margin-right: 32px;
}

.example__value {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}
//недодел
.example__term {
  position: absolute;
  left: calc(50%-43);

  width: 86px;
  margin: 0;
  padding: 0 15px;

  text-transform: lowercase;

  background-color: inherit;
}
// -//-

.example__price {
  margin: 0;
  padding-top: 38px;
  padding-bottom: 44px;

  text-align: center;
  text-transform: uppercase;
}

.example__image-wrapper {
  text-align: center;
}

.example__image {
  &--was {
    display: block;
  }
  &--after {
    display: none;
  }
}

.example__button {
  font-size: 16px;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
}
