
.example {
  background-color: @color-bg-secondary;
}

.example__wrapper {
  .container();
}

.example__title {
  margin: 0;
  padding-top: 29px;
  padding-bottom: 35px;

  .title-section();
}

.example__text {
  margin: 0;
  padding-bottom: 25px;

  font-family: "Arial", sans-serif;
}

.example__result {
  display: flex;
  margin: 0;
}

.example__item {
  display: flex;
  flex-direction: column;
  width: 50%;

  &:not(:last-of-type) {
    margin-right: 32px;
  }
}

.example__value {
  padding: 13px 20px 17px;

  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: @color-text-two;
  text-transform: uppercase;

  border: 1px solid @color-border;
  border-radius: 3px;
}

.example__term {
  width: 86px;
  margin: -9px auto 0;
  padding: 0 15px;

  font-size: 12px;
  line-height: 12px;
  font-family: @font-text;
  text-align: center;
  color: @color-text;
  text-transform: lowercase;

  background-color: @color-bg-secondary;
}

.example__price {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 35px;

  text-align: center;
  color: @color-text-two;
  text-transform: uppercase;
}

.example__image-wrapper {
  text-align: center;
}

.example__image {
  &--was {
    display: block;
  }

  &--after {
    display: none;
  }
}

.example__range-wrapper {
  padding-top: 28px;
  padding-bottom: 36px;

  text-align: center;
}

.example__range-bar {
  position: relative;

  display: inline-block;
  width: 84px;
  height: 14px;
  margin: 0 9px;
  padding: 0 6px;

  vertical-align: middle;

  background-color: white;
  border: 1px solid @color-border;
  border-radius: 6px;
}

.example__control {
  position: absolute;
  top: calc(50% - 3px);

  width: 35px;
  height: 6px;

  background-color: @color-bg-main;
  border-radius: 3px;
}

.example__button {
  display: inline-block;

  font-size: 16px;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .example {
    background-color: transparent;
    background-image: linear-gradient(to top, #f2f2f2 0, #f2f2f2 462px, transparent 462px, transparent 100%);
  }

  .example__title {
    padding-top: 43px;
    padding-bottom: 65px;
  }

  .example__text {
    padding-bottom: 52px;
  }

  .example__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 82px;
  }

  .example__item {
    width: 162px;

    &:not(:last-of-type) {
      margin-right: 42px;
    }
  }

  .example__value {
    padding: 15px 31px 19px;

    font-size: 30px;
    line-height: 37px;
  }

  .example__term {
    width: auto;
    padding: 0 9px;

    font-size: 14px;

    background-color: white;
  }

  .example__price {
    width: 180px;
    padding-top: 10px;
    padding-bottom: 0;

    font-size: 20px;
    line-height: 27px;
    text-align: right;
  }

  .example__slider-wrapper {
    .container();
  }

  .example__image-wrapper {
    width: auto;
    height: 517px;
    padding-left: 14px;
  }

  .example__image {
    &--before {
      width: auto;
      height: 100%;
    }

    &--after {
      width: auto;
      height: 100%;
    }
  }

  .example__range-wrapper {
    padding-top: 16px;
    padding-bottom: 71px;
  }

  .example__range-bar {
    width: 428px;
    height: 6px;
    margin-right: 18px;
    margin-left: 19px;

    background-color: #dcdcdc;
    border-radius: 2.5px;
  }

  .example__button {
    padding: 0;

    font-size: 20px;
    line-height: 25px;

    border-bottom: 1px dotted fade(@color-text-two, 23%);

    &:hover,
    &:focus {
      border-bottom: 1px solid fade(@color-text-two, 40%);
    }

    &:active {
      padding-bottom: 1px;

      border: none;
    }
  }

  .example__control {
    top: calc(50% - 17px);

    width: 34px;
    height: 34px;

    background-color: white;
    border: 1px solid @color-border-two;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

    &::before {
      top: calc(50% - 4px);
      left: calc(50% - 4px);

      width: 8px;
      height: 8px;

      background-color: @color-bg-main;
      border-radius: 50%;

      .pseudo();
    }
  }
}

@media (min-width: @desctop-width) {
  .example__container {
    display: flex;
    padding-bottom: 75px;

    .container();
  }

  .example__wrapper {
    flex-direction: column;
    align-items: flex-start;
    width: 530px;
    margin: 0;
    padding: 0;
  }

  .example__title {
    padding-top: 55px;
    padding-bottom: 146px;
  }

  .example__text {
    width: 435px;
    padding-bottom: 68px;
  }

  .example__term {
    background-color: @color-bg-secondary;
  }

  .example__price {
    width: auto;
    padding-top: 53px;
  }

  .example__price-of-what {
    padding-right: 60px;
  }

  .example__slider-wrapper {
    width: 690px;
    margin: 0;
    padding: 0;
  }

  .example__image-wrapper {
    margin-bottom: 37px;
    padding: 0;
  }

  .example__image {
    &--before {
      width: 100%;
      height: auto;
    }
  }

  .example__range-wrapper {
    margin-left: 120px;
    padding: 0;
  }
}
