
.form__fieldset {
  position: relative;

  margin: 0;
  padding: 0;

  border: none;

  &--with-line {
    .title-line();
  }

  &--pet {
    padding-right: 20px;
    padding-bottom: 23px;
    padding-left: 20px;
  }

  &--program {
    padding: 21px 20px;

    border: 1px solid @color-border;
  }
}


.form__wrapper {
  &--1 {
    padding: 0 20px;
  }
}

.form__legend {
  padding-right: 23px;

  background-color: white;

  .font-item();
}

.form__text {
  margin: 0;
  padding-right: 70px;
  padding-bottom: 39px;

  color: @color-text-two;
  text-transform: uppercase;
}

.form__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.form__item {
  &:not(:last-of-type) {
    margin-bottom: 12px;
  }
}

.form__label {
  position: relative;

  display: flex;
  align-items: center;

  font-size: 16px;
  color: @color-text-three;
  text-transform: uppercase;

  &:not(:last-of-type) {
    margin-bottom: 14px;
  }

  &--radio {
    &::before {
      width: 30px;
      height: 30px;
      margin-right: 16px;

      border: 1px solid @color-border-two;
      border-radius: 50%;

      .pseudo(relative, inline-block);
    }
  }

  &--checkbox {
    &::before {
      width: 30px;
      height: 30px;
      margin-right: 16px;

      border: 1px solid @color-border-two;

      .pseudo(relative, inline-block);
    }
  }

  &:hover::before,
  &:focus::before {
    border-color: #bababa;
  }

  &--checkbox:active,
  &--radio:active {
    border-color: #bababa;
    opacity: 0.3;
  }
}

.form__control {
  &--radio:checked + .form__label--radio::after {
    left: 9px;

    width: 12px;
    height: 12px;

    background-color: @color-bg-main;
    border-radius: 50%;

    .pseudo(absolute, inline-block);
  }

  &--checkbox:checked + .form__label--checkbox::before {
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px 17px;
  }
}

.form__data {
  flex-grow: 1;
  margin-left: 15px;
  padding: 14px 35px 13px 16px;

  color: @color-text;
  text-transform: uppercase;

  border: 1px solid @color-border;

  &:hover {
    border-color: @color-border-two;
  }

  &:invalid,
  &:invalid + .form__icon path {
    padding: 13px 34px 12px 15px;

    border: 2px solid @color-invalid;

    fill: @color-invalid;
  }

  &:focus,
  &:focus + .form__icon path {
    padding: 13px 34px 12px 15px;

    border: 2px solid @color-text;
    outline: none;

    fill: @color-bg-main;
  }
}

.form__icon {
  position: absolute;

  &--email {
    right: 15px;
  }

  &--phone {
    right: 13px;
  }

  path {
    fill: @color-text-three;
  }
}

.form__textarea {
  width: 100%;
  min-height: 150px;
  padding: 15px 15px 15px 16px;

  font-size: 16px;
  text-transform: uppercase;

  border-color: @color-border;

  resize: none;

  &:hover {
    border-color: @color-border-two;
  }

  &:focus {
    padding: 14px 14px 14px 15px;

    border: 2px solid @color-text;
    outline: none;
  }
}

.form__button {
  width: 100%;
  margin-top: 22px;
  margin-bottom: 23px;
  padding: 0;
}

.form__footnote {
  display: block;
  margin-bottom: 34px;

  font-size: 14px;
  font-family: @font-text;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .form__wrapper {
    padding: 0 70px 70px;
  }

  .form__text {
    width: 400px;
    padding-bottom: 0;
  }

  .form__legend {
    padding-right: 40px;
    // padding-bottom: 70px;
    padding-left: 40px;

    &--additional {
      padding-bottom: 53px;
    }
  }

  .form__fieldset {
    &--pet {
      padding: 0 0 72px;
    }
  }

  .form__list {
    &--control {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .form__item {
    &--data {
      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
    }

    &--control {
      width: 50%;

      &:not(:last-of-type) {
        margin-bottom: 32px;
      }
    }
  }

  .form__label {
    &--data {
      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
    }

    &--checkbox {
      &::before {
        width: 40px;
        height: 40px;
      }
    }

    &--radio {
      &::before {
        width: 40px;
        height: 40px;
      }
    }
  }

  .form__control {
    &--radio:checked + .form__label--radio::after {
      left: 11px;

      width: 18px;
      height: 18px;
    }
  }

  .form__button {
    display: inline-block;
    width: auto;
    margin-top: 10px;
    margin-right: 61px;
    margin-bottom: 0;
    padding-right: 67px;
    padding-left: 63px;
  }

  .form__footnote {
    display: inline-block;
    margin-bottom: 0;

    font-size: 16px;
  }
}

@media (min-width: @desctop-width) {
  .form__wrapper {
    .container();

    &:not(.form__wrapper--1) {
      display: flex;
    }
  }

  .form__fieldset {
    &--pet {
      flex-grow: 1;
      margin-right: 80px;
      padding-bottom: 0;
    }

    &--program {
      width: 570px;
      margin: 0;
    }
  }

  .form__list {
    &--data {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .form__item {
    &--data {
      width: 570px;

      &:nth-of-type(n+1) {
        margin-bottom: 0;
      }

      &:first-of-type {
        margin-right: auto;
      }
    }

    &--control {
      width: 25%;
    }
  }

  .form__button {
    margin-top: 20px;
    margin-right: 82px;
    padding-right: 206px;
    padding-left: 209px;
  }
}
