
.page-footer__background,
.page-footer__contacts {
  background-color: @color-bg-secondary;
}

.page-footer__logo {
  display: block;
  padding-top: 36px;
  padding-bottom: 28px;

  text-align: center;

  border-bottom: 1px solid @color-border;

  &:hover {
    .logo-hover();
  }

  &:active {
    .logo-active();
  }
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 150px;
  }

  .page-footer__logo {
    padding-top: 65px;
    padding-bottom: 55px;
  }
}
