
.page-header {
  position: relative;

  &__menu {
    border-bottom: 1px solid @color-border;
  }

  &__logo {
    display: inline-block;
    padding-top: 11px;
    padding-bottom: 15px;
    padding-left: 19px;

    vertical-align: middle;

    &:hover {
      .logo-hover();
    }

    &:active {
      .logo-active();
    }
  }
}
