
.page-header {
  position: relative;
}

.page-header__menu {
  border-bottom: 1px solid @color-border;
}

.page-header__logo {
  display: inline-block;
  padding-top: 11px;
  padding-bottom: 15px;
  padding-left: 19px;

  vertical-align: middle;

  &:hover {
    .logo-hover();
  }

  &:active {
    .logo-active();
  }
}

@media (min-width: @tablet-width) {
  .page-header {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
  }

  .page-header__menu {
    border: none;
  }

  .page-header__logo {
    margin-right: 96px;
    padding-left: 29px;
  }
}
