.page-footer__wrapper,
.page-footer__contacts {
  background-color: #f2f2f2;
}

.page-footer__logo {
  display: block;
  padding-top: 39px;
  padding-bottom: 31px;

  text-align: center;

  border-bottom: 1px solid #cdcdcd;
}
