
.page-header {
  position: relative;
}

.page-header__menu {
  border-bottom: 1px solid @color-border;
}

.page-header__logo {
  display: inline-block;
  padding-top: 11px;
  padding-bottom: 15px;
  padding-left: 19px;

  vertical-align: middle;

  &:hover {
    .logo-hover();
  }

  &:active {
    .logo-active();
  }
}
