
.page-footer__wrapper,
.page-footer__contacts {
  background-color: @color-bg-secondary;
}

.page-footer__logo {
  display: block;
  padding-top: 39px;
  padding-bottom: 31px;

  text-align: center;

  border-bottom: 1px solid @color-border;
  &:hover {
    .logo-hover();
  }

  &:active {
    .logo-active();
  }
}
