.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 16px 0 14px 0;

  list-style: none;
  text-align: center;

  border-bottom: 1px solid @color-border;
}

.social__link {
  display: inline-block;
  width: 32px;
  height: 32px;

  line-height: 32px;

  &--inst {
    padding-top: 3px;
  }

  &--fb {
    padding-top: 3px;
  }
}

.social__icon {
  fill: @color-footer-icon;
}

.social__item {
  display: inline-block;

  &:not(:last-of-type) {
    margin-right: 21px;
  }

  &:hover .social__icon,
  &:focus .social__icon {
    fill: @color-bg-main;
  }

  &:active .social__icon,
  &:active .social__icon {
    opacity: 0.3;

    fill: @color-bg-main;
  }
}

@media (min-width: @tablet-width) {
  .social {
    // padding-right: 18px;
    // padding-left: 29px;
    border: none;
  }

  .social__item {
    &:not(:last-of-type) {
      margin-right: 14px;
      margin-left: 9px;
    }
  }

  .social__link {
    &--vk {
      padding-top: 2px;
    }

    &--inst {
      padding-top: 6px;
    }
  }

  .social__icon {
    &--vk {
      width: 30px;
      height: 16px;
    }

    &--inst {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 14px;
      height: 28px;
    }
  }
}
