.stock {
  width: 280px;
  height: 289px;
  margin-right: auto;
  margin-left: auto;
  padding: 43px 60px ;

  background-color: #6fb346;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;

  &__icon {
    display: block;
    margin-right: auto;
    margin-bottom: 64px;
    margin-left: auto;
  }

  &__text {
    margin: 0;

    font-size: 16px;
    line-height: 20px;
    font-family: @font-text;
    text-align: center;
    color: white;
  }
}
